{% extends "skeleton.html.twig" %} {% block header %}
<header>
  <div class="container-fluid">
    <div class="row bg-secondary text-white">

      <div class="col-4">
        <h1>ECHO
        </h1>
        <h2>One word, One world</h2>
      </div>

      {% block sign %}

      <div class="col-4 col-4 align-items-center d-flex flex-direction-row">
        <a href="{{ path('home') }}">
          <button class="btn btn-primary m-1">Page d'accueil</button>
        </a>
        <a href="{{ path('articleCreate') }}">
          <button class="btn btn-primary m-1">Créer un nouvel article</button>
        </a>

      </div> {% endblock sign %}


    </div>
  </div>

</header>

{% endblock header %} {% block read %} {{ form_start(form) }} {{ form_widget(form) }}

  <button class="btn btn-primary m-1">Mettre à jour</button>
  {{ form_end(form) }}


  <a href="{{ path('articleRemove', {id:article.id}) }}">
    <button class="btn btn-primary m-1">Supprimer article</button>
  </a>
{% endblock read %} {% block side %}
<div class="col-4 bg-primary">
  <sidebar>
  </sidebar>
</div>
{% endblock side %}