{% extends "skeleton.html.twig" %} 


{% block sign %}
<a href="{{ path('home') }}" class="align-self-center">
    <button class="btn btn-warning">Page d'accueil</button>
  </a>
{% endblock sign %}

{% block read %}

<div class="container-fluid">
  <div class="row">
    <div class="col-8 d-flex flex-column">
      {{ form_start(form) }} {{ form_widget(form) }} {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock read %} {% block side %}
<div class="col-4 bg-warning">
</div>

{% endblock side %}