{% extends "skeleton.html.twig" %} {% block sign %}
  <div class="col-4 align-self-center">
    
        <a href="{{ path('articleCreate') }}"><button class="btn btn-success">Créer un article</button></a>
  
  </div>

{% endblock sign %}