{% extends "skeleton.html.twig" %} {% block body %}

<div class="container-fluid">
  <div class="row col-6 offset-3 d-flex">
    <h1>Formulaire d'inscription</h1>
   {{ form_start(form) }} {{ form_widget(form) }} {{ form_end(form) }}
  </div>
</div>

 {# {% for row in registers %}
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">{{row.pseudo}}</div>
  <div class="card-body">
    <h5 class="card-title">{{row.email}}</h5>
    <h5 class="card-title">{{row.password}}</h5>
  </div>
</div>
{% endfor %} #} 

{% endblock body %}