<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{{asset('css/style.css')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <title>Blog</title>
</head>

<body>

  {% block body %} {% block header %}

  <header>
    <div class="container-fluid">
      <div class="row bg-secondary text-white">

        <div class="col-4">
          <h1>ECHO
          </h1>
          <h2>One word, One world</h2>
        </div>

        {% block sign %} {% endblock sign %}

      </div>
    </div>

  </header>
  {% endblock header %} {# ICI LES ARTICLES #} {% block main %}

  <main>
    <div class="container-fluid">
      <div class="row">

        {% block content %}
        <content class="col-8">

          <div class="album py-5 bg-light">
            <div class="container">

              {% block read %} {% for row in articles %}

              <a href="{{path('articleRead', {id:row.id})}}" class="btn btn-secondary m-1">

                <div class="card text-white bg-secondary" style="width: 15rem;">
                  <div class="card-header">{{row.title}}</div>
                  <div class="card-body">
                    <h5 class="card-title">{{row.body}}</h5>
                  </div>
                </div>
              </a>

              {% endfor %} {% endblock read %}

            </div>
          </div>


        </content>

        {# ICI LA SIDEBAR #} {% block side %}
        <div class="col-4 bg-success">
          <sidebar>
          </sidebar>
        </div>
        {% endblock side %} {% endblock content %}

      </div>
    </div>
  </main>

  {% endblock main %} {% block section %}
  <section>
    {# ICI seront stockés les sections #}
  </section>
  {% endblock section %} {% endblock body %}



  <!-- les script boostrap -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>
</body>

</html>